In [1]:
import pandas as pd
import os
import re
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
import matplotlib.pyplot as plt
from pandas.plotting import table 
import dataframe_image as dfi

# Loading Best Features and the scores

In [5]:
#loading feature names from best models
feature_names = pd.read_csv('Data/words_as_predictors_performance/jatjak2.csv')
feature_names = feature_names[['group', 'target', 'feature_names']]

In [6]:
feature_names

    group        target                                      feature_names
0       1  Depressed_F1  ('helped', 'advantage', 'applause', 'awe', 'ba...
1       1    Anxiety_F2  ('helped', 'advantage', 'applause', 'bicycle',...
2       2  Depressed_F1  ('aggressive', 'angry', 'barbecue', 'bell', 'c...
3       2    Anxiety_F2  ('aggressive', 'angry', 'barbecue', 'bell', 'c...
4       3  Depressed_F1  ('activist', 'ambulance', 'avalanche', 'busine...
5       3    Anxiety_F2  ('activist', 'ambulance', 'avalanche', 'bonfir...
6       4  Depressed_F1  ('accordion', 'apology', 'apricot', 'empty', '...
7       4    Anxiety_F2  ('accordion', 'apology', 'apricot', 'bay', 'be...
8       5  Depressed_F1  ('damaged', 'airport', 'analogy', 'arm', 'attr...
9       5    Anxiety_F2  ('damaged', 'airport', 'analogy', 'arm', 'attr...
10      6  Depressed_F1  ('alligator', 'army', 'bagpipe', 'banana', 'ba...
11      6    Anxiety_F2  (alligator', 'army', 'bagpipe', 'banana', 'bar...
12      7  Depressed_F1  ('accident', 'advice', 'animosity', 'ant', 'ar...
13      7    Anxiety_F2  ('accident', 'advice', 'animosity', 'ant', 'ap...
14      8  Depressed_F1  ('actor', 'agreement', 'ball', 'battle', 'bee'...
15      8    Anxiety_F2  ('actor', 'agreement', 'asparagus', 'axe', 'ba...

In [7]:
#loading the 8 datasets into a list

# assign path
path, dirs, files = next(os.walk("Data/words_as_predictors"))
file_count = len(files)
# create empty list
df_list = []
 
# append datasets to the list
for i in range(file_count):
    #reading the data
    temp_df = pd.read_csv("Data/words_as_predictors/"+files[i])
    #reorder category levels
    word_names = list(temp_df.iloc[:, 1:61].columns)
    target_names = list(temp_df.iloc[:, 65:67])
    temp_df = temp_df.apply(lambda x: x.astype('category') if x.name in word_names else x)
    temp_df = temp_df.apply(lambda x: x.astype('category') if x.name in target_names else x)
    temp_df = temp_df.transform(lambda x: x.cat.set_categories([-1, 1]) if x.name in word_names else x)
    temp_df = temp_df.transform(lambda x: x.cat.set_categories([0,1]) if x.name in target_names else x)
    temp_df = temp_df.drop(['Anxiety', 'Depressed'], axis=1)
    temp_df = temp_df.rename(columns={'Depressed_F1': 'Depression', 'Anxiety_F2': 'Anxiety'})

    #appending to the list
    df_list.append(temp_df)
     
# display datasets
for dataset in df_list:
    display(dataset)

,ID,helped,advantage,applause,awe,banjo,banker,belief,bicycle,blue,...,whole,xylophone,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_1BOWltIDcyNGKoH,-1,1,1,1,1,1,1,1,1,...,-1,-1,0.887753,1.154815,0.995467,1.162114,1,1,17,15
1,R_2bVMkt1hhhln2jP,-1,-1,-1,-1,1,1,1,-1,-1,...,-1,1,-1.296660,-0.820741,-2.038769,-1.048750,0,0,0,4
2,R_3nCM4LsfCsIjOo7,-1,-1,-1,-1,1,-1,-1,1,-1,...,1,1,0.927729,-1.227558,1.017550,-1.838252,1,0,11,2
3,R_wRBZJ21QBhdo7p7,-1,-1,1,1,-1,1,1,-1,-1,...,1,1,0.135663,0.729673,0.341253,0.859894,0,1,11,11
4,R_1JVecwADD1hEEhd,1,1,1,1,1,1,1,1,1,...,1,-1,0.265664,-0.662713,0.493820,-0.713643,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,R_pDZ2ZuUBqQRdMC5,-1,-1,-1,-1,1,1,-1,1,1,...,-1,1,0.500659,-0.144696,0.700827,0.063665,1,0,10,5
358,R_2y25DrzlaPhcmtt,-1,-1,-1,1,1,1,-1,1,1,...,-1,1,-0.495961,2.167786,-0.422681,1.964812,0,1,6,8
359,R_27ecbNVYxed0jd9,-1,-1,-1,-1,1,-1,-1,-1,1,...,-1,1,0.029661,-0.151589,0.212413,0.057833,0,0,5,1
360,R_2fBwux8TV0UvpVo,1,1,1,1,-1,1,-1,1,1,...,-1,-1,1.316136,1.770656,1.306331,1.635912,1,1,18,16
361,R_bezR5ZK1kTI8qZj,1,1,-1,-1,1,1,1,1,-1,...,1,1,-0.853073,-0.749004,-0.988666,-0.909086,0,0,2,3

,ID,aggressive,angry,barbecue,bell,book,business,cab,cabbage,cafeteria,...,young,zone,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_1Dr6S3X8XV7aNWq,-1,-1,-1,1,-1,1,1,-1,1,...,1,1,-0.495368,-0.397361,-0.419046,-0.251716,0,0,5,4
1,R_2rwqMlB1yZpbsmB,-1,-1,-1,1,-1,-1,1,1,-1,...,-1,-1,0.502047,-0.616587,0.701891,-0.625182,1,0,7,3
2,R_xfpq3YIIpCmr0hX,1,1,-1,1,1,1,-1,1,1,...,-1,-1,0.807825,1.743641,0.947474,1.623361,1,1,19,20
3,R_129IACvxn4XnW9u,-1,-1,-1,-1,-1,1,1,1,1,...,-1,-1,0.507370,-0.879450,0.706153,-1.176946,1,0,7,2
4,R_2pJe7TuHyUVWLEj,1,1,1,-1,-1,-1,-1,-1,1,...,-1,-1,-0.777101,-0.862499,-0.806352,-1.135567,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,R_2wspAAuPbm29eNA,1,-1,1,1,-1,-1,-1,-1,-1,...,1,-1,0.128452,-0.949058,0.329815,-1.326107,0,0,5,3
374,R_3rHQ2bcH0LvJ75M,1,1,1,1,1,1,1,1,1,...,1,-1,-0.380127,-0.621544,-0.278420,-0.638382,0,0,2,0
375,R_1fdWU7E9pyDH5Zf,1,1,-1,1,1,-1,1,1,1,...,1,1,0.469524,-1.046316,0.664085,-1.523086,1,0,10,2
376,R_30q0onT1a0cxvAW,-1,1,1,1,-1,1,1,1,1,...,1,-1,0.079551,0.379870,0.276691,0.563650,0,0,7,6
377,R_qQM3OEyAHkqHHG1,-1,1,1,1,-1,1,1,1,-1,...,-1,-1,-0.924263,-0.864203,-1.184460,-1.143526,0,0,1,0

,ID,activist,ambulance,avalanche,bonfire,broccoli,businessman,camel,camera,cherry,...,vice,worth,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_1FbPQrke1paVybl,-1,-1,1,-1,-1,-1,-1,1,-1,...,-1,1,-0.217606,-0.801512,-0.082011,-1.025960,0,0,6,3
1,R_1LCkV0plBScTIxu,1,1,-1,-1,1,1,1,1,1,...,1,-1,-0.490839,-0.936651,-0.415417,-1.292786,0,0,4,3
2,R_2Tz76JQL2jHYPp6,1,1,-1,-1,-1,-1,-1,-1,1,...,-1,-1,-0.748475,0.882903,-0.767250,0.976536,0,1,2,7
3,R_XjQDjJtVx656vfz,1,1,-1,1,-1,1,1,1,-1,...,1,1,-0.229845,-0.536828,-0.091193,-0.455653,0,0,8,5
4,R_1qffAI4F7bYGKWY,-1,1,1,-1,-1,1,-1,-1,-1,...,1,-1,0.545842,2.144200,0.725495,1.936931,1,1,15,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,R_QbjlBacwbwyxUDT,1,1,1,1,1,1,1,1,1,...,1,1,2.217628,1.111713,1.926188,1.117527,1,1,25,14
407,R_wKJD8UrGX4uQ7w5,-1,-1,1,-1,1,-1,-1,-1,-1,...,1,1,0.267599,-0.876053,0.496640,-1.170322,0,0,5,1
408,R_vq6FulYrVwxzzJT,1,1,1,1,1,-1,-1,-1,1,...,-1,-1,0.647315,-1.113146,0.816176,-1.608023,1,0,9,4
409,R_3NJ9reKhujZJqso,1,1,-1,-1,1,-1,1,1,-1,...,1,-1,0.054139,-0.746294,0.239716,-0.900321,0,0,8,7
410,R_27UqrAVnWTM83X9,-1,1,1,-1,-1,1,1,-1,1,...,1,-1,2.264328,1.721592,1.994311,1.620263,1,1,23,17

,ID,accordion,apology,apricot,bay,beer,cathedral,cheetah,college,corkscrew,...,worker,zoo,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_r2tpTfFLvWCrG0N,1,-1,-1,-1,1,-1,-1,-1,-1,...,-1,1,-0.140687,-0.290827,0.016218,-0.079507,0,0,7,7
1,R_1jHvmK6ZxB1pI0v,1,-1,1,1,-1,1,-1,-1,-1,...,-1,-1,-0.747362,-0.572413,-0.760014,-0.532242,0,0,1,1
2,R_1r2ZiHHbIJG3ZBv,1,1,-1,-1,-1,-1,1,1,-1,...,-1,1,-0.412833,-0.291041,-0.321922,-0.080342,0,0,3,2
3,R_2VBHRj1t6GMLotd,1,-1,-1,1,-1,1,1,1,-1,...,1,-1,-0.350416,1.238361,-0.240572,1.235470,0,1,9,9
4,R_3KoKrYqRHmPPvAs,1,-1,1,1,1,1,1,1,1,...,-1,1,0.063914,-0.272590,0.245711,-0.070333,0,0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,R_269bCsGmvYWQzuD,1,1,-1,1,1,1,1,1,1,...,-1,-1,-1.296544,0.642276,-2.032168,0.786367,0,1,2,4
365,R_2QoebyLn6C3tTg3,1,1,1,1,1,-1,1,-1,1,...,1,1,0.111635,-0.086162,0.309684,0.112930,0,0,8,4
366,R_1FqXAg76AZMtgPc,-1,1,-1,1,-1,-1,1,-1,-1,...,1,1,1.294572,0.276627,1.285152,0.474185,1,0,16,12
367,R_PIryUjJfza0wS2d,1,-1,1,-1,-1,-1,1,-1,1,...,1,1,0.236618,-0.376689,0.456576,-0.202216,0,0,9,5
368,R_3lWhhzNwTvWDY1Z,1,1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0.385360,0.995182,0.588192,1.048750,1,1,12,10

,ID,damaged,airport,analogy,arm,attribute,audience,bus,car,carriage,...,whine,yellow,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_DO7WBLeWTraBEkh,1,1,1,1,1,-1,1,-1,-1,...,-1,1,1.614291,1.168208,1.517802,1.171973,1,1,22,11
1,R_2QJmilO7N7JtBpM,1,1,-1,-1,-1,-1,1,1,1,...,1,-1,1.890717,0.480741,1.706457,0.651694,1,1,17,18
2,R_12okEGnKC0uBOVD,1,-1,-1,-1,-1,-1,-1,1,-1,...,1,-1,-0.571934,-0.336596,-0.515546,-0.157416,0,0,4,5
3,R_sYltNfFHlnks9VL,-1,-1,-1,-1,-1,-1,1,-1,1,...,1,1,0.041351,-0.025115,0.228603,0.167529,0,0,8,7
4,R_3s0nXgZ0kv9dSZU,1,1,1,1,1,1,1,1,-1,...,1,1,-0.877673,-0.295843,-1.035154,-0.085766,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,R_2COZfWakbxxUyKL,-1,-1,1,-1,1,-1,1,-1,1,...,-1,-1,-0.551887,0.487111,-0.488191,0.654782,0,1,3,4
354,R_1kYTLMEicRgyWfH,-1,1,-1,-1,-1,1,1,1,1,...,1,-1,-0.514841,0.465141,-0.451965,0.637363,0,0,4,4
355,R_SVQVqy3JREzdMtj,1,-1,-1,-1,-1,1,1,1,-1,...,1,-1,-0.498257,-0.327602,-0.428143,-0.128009,0,0,3,2
356,R_2v8qwwdKqV1xw0t,-1,1,-1,1,1,-1,-1,-1,1,...,-1,-1,-0.826352,-0.528407,-0.926192,-0.445986,0,0,1,0
357,R_3HoIlXrQ4fMTbVv,-1,1,-1,-1,1,1,1,1,1,...,1,1,0.068573,-0.035487,0.254292,0.161627,0,0,10,7

,ID,alligator,army,bagpipe,banana,bar,bed,blueberry,boy,bribe,...,umbrella,wit,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_2AEbBswtDMx6dmI,1,1,1,-1,1,-1,1,1,-1,...,-1,1,-0.386227,0.567055,-0.285343,0.721173,0,1,3,3
1,R_zVkcRzZ7Dg0So5X,1,1,-1,-1,-1,1,-1,-1,-1,...,1,-1,0.388227,0.121059,0.589181,0.332451,1,0,9,8
2,R_2tMwJtTOoKQyggX,1,1,1,1,-1,1,-1,-1,-1,...,1,-1,0.312453,-1.228666,0.539442,-1.847339,0,0,7,1
3,R_2zuMIprq0a2shga,1,-1,1,-1,1,-1,-1,-1,-1,...,-1,1,0.322072,-0.724260,0.549086,-0.853891,0,0,7,5
4,R_3nBKLeznUVme0h3,1,1,1,-1,-1,1,1,1,1,...,1,1,-0.185709,-0.703447,-0.046174,-0.809233,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,R_1LS9wIU4ihO850B,1,-1,-1,-1,-1,1,-1,1,1,...,1,-1,-1.144900,0.287288,-1.632750,0.485382,0,0,2,5
391,R_233NG3QRA7Z1DXa,1,1,1,-1,1,-1,-1,-1,-1,...,-1,1,0.463222,-0.982002,0.660978,-1.395363,1,0,8,6
392,R_3Jm8wdSSX4qd8sW,1,1,1,1,-1,-1,-1,1,1,...,1,-1,1.268266,1.647043,1.260842,1.550167,1,1,21,21
393,R_1Lb8XHsntEVaPhr,-1,1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-0.452972,0.537261,-0.365154,0.700827,0,1,5,7
394,R_31F9LlcyuefiZeO,1,-1,-1,1,1,-1,-1,-1,-1,...,-1,-1,0.503865,0.819640,0.704020,0.929389,1,1,14,11

,ID,accident,advice,animosity,ant,apartment,artist,author,baseball,big,...,van,whale,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_TbISNkHJ4IeaWwF,1,1,-1,1,1,1,1,1,1,...,1,1,-0.818020,0.352191,-0.912864,0.543294,0,0,3,7
1,R_1Ad63eU2Ca1KXLP,1,-1,-1,1,1,1,-1,-1,1,...,-1,1,-0.666303,-0.514891,-0.653237,-0.423135,0,0,1,0
2,R_1j7hOSdsSgrjGa7,1,1,-1,-1,-1,1,-1,1,-1,...,-1,1,-0.828422,-0.629935,-0.963886,-0.656329,0,0,2,3
3,R_1q4hHLZJoTYJcE4,1,1,-1,-1,-1,-1,-1,1,-1,...,1,-1,-0.209060,0.174581,-0.075337,0.375843,0,0,6,8
4,R_tFlteVSB8FKP42J,1,1,1,1,-1,-1,-1,1,1,...,1,1,0.528217,0.810712,0.719018,0.919190,1,1,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,R_XzVZ2LjbSbErdN7,1,-1,1,-1,-1,1,1,1,-1,...,-1,-1,0.609497,-1.068286,0.781843,-1.550167,1,0,7,0
362,R_1JD9gIWOY7Uu2oX,1,1,1,-1,1,1,1,1,-1,...,-1,1,-0.403544,-0.849784,-0.312739,-1.105955,0,0,3,1
363,R_9NqISJzQXhMjhtf,1,1,1,1,-1,-1,1,1,-1,...,1,1,-0.359814,1.490234,-0.254292,1.417726,0,1,10,16
364,R_2Qt8VZbXncWRo8m,1,1,-1,1,-1,1,1,1,-1,...,-1,1,1.157134,-1.634252,1.178610,-2.434065,1,0,9,1
365,R_Dr8OpYcsDsR3c2Z,-1,-1,1,-1,-1,-1,1,-1,-1,...,1,-1,-0.884289,-0.602559,-1.053084,-0.586216,0,0,1,1

,ID,actor,agreement,asparagus,axe,ball,battle,beach,bee,belch,...,woe,wonder,F1,F2,F1_transformed,F2_transformed,Depression,Anxiety,PHQ9,GAD7
0,R_1QseubXuFkKITgO,-1,-1,-1,1,1,1,-1,1,1,...,-1,-1,-0.379659,1.174219,-0.277555,1.180278,0,1,6,12
1,R_55OzDBBbMqXzJwl,1,-1,-1,-1,1,1,-1,1,1,...,1,1,-0.983714,-0.016718,-1.284203,0.179771,0,0,0,2
2,R_51g1JaoyDoCYAaB,1,-1,-1,1,1,1,-1,1,-1,...,-1,-1,-0.045097,0.097808,0.139337,0.310993,0,0,7,6
3,R_cHYMbmoxKDTLvs5,1,-1,-1,1,1,1,1,1,1,...,-1,1,-0.280772,-0.998051,-0.160785,-1.422285,0,0,6,5
4,R_2WO6CXbbg0sRsgl,1,-1,1,-1,1,1,-1,-1,1,...,-1,1,-0.344585,-0.455657,-0.232874,-0.339491,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,R_1FPbs2u13Zq0kJI,1,1,-1,-1,-1,1,1,1,1,...,-1,1,-0.134317,0.053385,0.021209,0.251716,0,0,5,3
371,R_1dbjo2qaQ3oESqX,1,-1,-1,1,1,1,-1,1,1,...,-1,-1,1.069060,-0.176303,1.120638,0.036185,1,0,12,7
372,R_1NsmA90QNN4eehi,1,-1,1,1,1,1,1,1,-1,...,-1,-1,-0.970387,0.515200,-1.259003,0.680768,0,1,3,4
373,R_3RjPDzZ0yehm3oy,1,-1,1,1,-1,-1,-1,-1,1,...,-1,1,-0.037314,-0.805872,0.153207,-1.031607,0,0,6,4
374,R_11bVO4Ixlyz6AVv,1,1,-1,1,-1,-1,1,1,1,...,1,-1,-0.180347,-0.727987,-0.038682,-0.861098,0,0,6,1

## Computing VIF for best features

In [8]:
vif_list = []
targets = ['Depressed_F1', 'Anxiety_F2']


for target in targets:
    
    group_nr = 1
    i = 0
    for dataset in df_list:
        #renaming
        if target == 'Depression':
            target = 'Depressed_F1'
        elif target == 'Anxiety':
            target = 'Anxiety_F2' 
        
        group_nr = i+1
        print(group_nr, target)
        best_features = feature_names[(feature_names['group'] == group_nr)]
        best_features = best_features[(best_features['target'] == target)]
        best_features = best_features[['feature_names']]
        best_features = best_features.squeeze()
        best_features = re.sub('[\(\)\']', '', best_features)
        best_features = best_features.replace(' ', '')
        best_features = best_features.split(',')
        #print(type(best_features))
        #display(best_features)
        
        dataset = dataset[dataset.columns.intersection(best_features)]
        dataset['intercept'] = 1
        display(dataset)
        
        #renaming
        if target == 'Depressed_F1':
            target = 'Depression'
        elif target == 'Anxiety_F2':
            target = 'Anxiety'
        
        vif = pd.DataFrame()
        vif['variable'] = dataset.columns
        vif['group'] = group_nr
        vif['target'] = target
        vif['VIF'] = [variance_inflation_factor(dataset.values, i) for i in range(dataset.shape[1])]
        #vif = vif[vif['Variable']!='intercept']
        
        vif_list.append(vif)
        i +=1

1 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,helped,advantage,applause,awe,banjo,banker,circus,feared,hope,mushroom,piano,snub,thunder,truce,intercept
0,-1,1,1,1,1,1,1,1,-1,1,-1,1,1,-1,1
1,-1,-1,-1,-1,1,1,1,-1,-1,1,-1,-1,1,-1,1
2,-1,-1,-1,-1,1,-1,1,-1,-1,1,1,-1,1,1,1
3,-1,-1,1,1,-1,1,1,1,1,1,1,1,1,-1,1
4,1,1,1,1,1,1,1,-1,-1,1,1,1,1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,-1,-1,-1,-1,1,1,-1,1,-1,1,1,1,-1,-1,1
358,-1,-1,-1,1,1,1,1,1,-1,-1,1,1,-1,-1,1
359,-1,-1,-1,-1,1,-1,1,1,-1,-1,-1,1,1,1,1
360,1,1,1,1,-1,1,1,1,1,1,-1,1,1,-1,1
361,1,1,-1,-1,1,1,-1,-1,-1,-1,1,1,1,-1,1

2 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,aggressive,angry,barbecue,bell,church,dead,football,guard,jealousy,intercept
0,-1,-1,-1,1,1,1,1,1,1,1
1,-1,-1,-1,1,1,1,1,-1,-1,1
2,1,1,-1,1,-1,1,-1,-1,1,1
3,-1,-1,-1,-1,-1,-1,-1,1,-1,1
4,1,1,1,-1,-1,-1,-1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
373,1,-1,1,1,1,1,-1,1,1,1
374,1,1,1,1,1,1,-1,-1,1,1
375,1,1,-1,1,1,1,1,1,1,1
376,-1,1,1,1,1,-1,1,1,1,1
377,-1,1,1,1,1,1,1,1,1,1

3 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,activist,ambulance,avalanche,businessman,friendly,green,grievance,mayor,policeman,vacation,intercept
0,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,1
1,1,1,-1,1,1,1,1,-1,1,1,1
2,1,1,-1,-1,1,1,1,-1,1,-1,1
3,1,1,-1,1,-1,-1,1,1,1,1,1
4,-1,1,1,1,-1,-1,1,1,-1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...
406,1,1,1,1,1,1,-1,1,1,1,1
407,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,1
408,1,1,1,-1,-1,-1,1,1,1,-1,1
409,1,1,-1,-1,1,-1,1,1,1,-1,1
410,-1,1,1,1,-1,-1,1,1,1,1,1

4 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    accordion apology apricot empty matinee reality wanted zoo  intercept
0           1      -1      -1     1       1       1      1   1          1
1           1      -1       1    -1       1      -1     -1  -1          1
2           1       1      -1    -1       1      -1     -1   1          1
3           1      -1      -1     1      -1       1     -1  -1          1
4           1      -1       1    -1       1      -1     -1   1          1
..        ...     ...     ...   ...     ...     ...    ...  ..        ...
364         1       1      -1     1       1       1      1  -1          1
365         1       1       1    -1      -1      -1      1   1          1
366        -1       1      -1    -1       1       1     -1   1          1
367         1      -1       1     1       1      -1      1   1          1
368         1       1       1    -1      -1      -1      1  -1          1

[369 rows x 9 columns]

5 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,damaged,airport,analogy,arm,attribute,audience,car,computer,eye,foot,infinity,prairie,role,intercept
0,1,1,1,1,1,-1,-1,1,1,-1,1,1,1,1
1,1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,1,-1,1
2,1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,1
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,-1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,-1,-1,1,-1,1,-1,-1,-1,-1,-1,-1,1,-1,1
354,-1,1,-1,-1,-1,1,1,-1,1,1,1,1,-1,1
355,1,-1,-1,-1,-1,1,1,1,-1,-1,-1,-1,-1,1
356,-1,1,-1,1,1,-1,-1,-1,1,1,1,1,1,1
357,-1,1,-1,-1,1,1,1,-1,-1,-1,-1,1,-1,1

6 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,alligator,army,bagpipe,banana,bar,commander,crow,denial,drum,island,kiss,kitchen,knowledge,legality,morning,mouth,nose,river,shelves,intercept
0,1,1,1,-1,1,1,-1,-1,1,1,1,1,1,1,-1,-1,1,1,-1,1
1,1,1,-1,-1,-1,-1,1,1,-1,-1,1,-1,-1,1,-1,1,1,1,1,1
2,1,1,1,1,-1,-1,1,1,-1,1,-1,1,-1,-1,-1,-1,-1,1,1,1
3,1,-1,1,-1,1,1,-1,1,-1,1,-1,-1,1,-1,-1,1,-1,1,1,1
4,1,1,1,-1,-1,1,1,-1,1,-1,1,-1,-1,-1,-1,1,-1,1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,-1,-1,-1,-1,1,-1,1,1,-1,-1,1,-1,1,-1,-1,-1,-1,1,1
391,1,1,1,-1,1,-1,1,-1,-1,-1,-1,-1,-1,-1,1,-1,1,-1,-1,1
392,1,1,1,1,-1,1,-1,1,1,-1,-1,1,-1,1,-1,-1,-1,-1,1,1
393,-1,1,-1,-1,-1,1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,1,-1,-1,1
394,1,-1,-1,1,1,1,1,-1,-1,-1,1,1,-1,1,-1,1,-1,1,1,1

7 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,accident,advice,animosity,ant,artist,author,big,black,bugle,lonely,sick,symphony,terrorist,intercept
0,1,1,-1,1,1,1,1,1,-1,1,1,-1,1,1
1,1,-1,-1,1,1,-1,1,1,1,1,1,-1,1,1
2,1,1,-1,-1,1,-1,-1,-1,1,-1,1,-1,1,1
3,1,1,-1,-1,-1,-1,-1,1,1,-1,-1,-1,1,1
4,1,1,1,1,-1,-1,1,1,1,1,-1,-1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,1,-1,1,-1,1,1,-1,1,-1,-1,1,1,1,1
362,1,1,1,-1,1,1,-1,1,-1,-1,-1,-1,1,1
363,1,1,1,1,-1,1,-1,1,1,1,-1,-1,1,1
364,1,1,-1,1,1,1,-1,-1,-1,1,1,1,1,1
365,-1,-1,1,-1,-1,1,-1,-1,1,-1,1,1,-1,1

8 Depressed_F1

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,actor,agreement,ball,battle,bee,company,debate,dime,door,fallacy,hairbrush,journalist,liked,loan,intercept
0,-1,-1,1,1,1,-1,1,1,-1,-1,1,-1,-1,1,1
1,1,-1,1,1,1,1,1,-1,1,-1,1,1,-1,-1,1
2,1,-1,1,1,1,1,-1,-1,1,1,-1,1,-1,1,1
3,1,-1,1,1,1,1,-1,-1,1,1,1,-1,-1,1,1
4,1,-1,1,1,-1,1,1,1,1,1,1,1,-1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,1,1,-1,1,1,-1,-1,1,1,1,-1,1,1,1,1
371,1,-1,1,1,1,-1,-1,1,-1,1,1,1,-1,-1,1
372,1,-1,1,1,1,1,-1,1,1,-1,1,-1,1,-1,1
373,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,1,1
374,1,1,-1,-1,1,1,1,1,-1,-1,-1,1,-1,-1,1

1 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,helped,advantage,applause,bicycle,cheese,cough,forest,hoe,lake,spring,teacher,tiger,volcano,intercept
0,-1,1,1,1,1,1,1,1,-1,-1,1,1,1,1
1,-1,-1,-1,-1,1,-1,-1,-1,1,-1,1,-1,1,1
2,-1,-1,-1,1,-1,1,-1,-1,1,1,1,-1,-1,1
3,-1,-1,1,-1,-1,-1,-1,1,-1,-1,-1,1,1,1
4,1,1,1,1,1,-1,-1,1,1,-1,1,1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,-1,-1,-1,1,-1,1,-1,-1,1,-1,-1,-1,1,1
358,-1,-1,-1,1,1,1,1,1,1,-1,-1,-1,1,1
359,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,1,1,1
360,1,1,1,1,-1,-1,-1,1,1,1,1,1,1,1
361,1,1,-1,1,1,1,1,-1,1,-1,-1,-1,1,1

2 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,aggressive,angry,barbecue,bell,cab,cabbage,cafeteria,carrot,chair,church,clang,clarinet,coffee,dead,eggplant,guilt,screech,shame,intercept
0,-1,-1,-1,1,1,-1,1,1,1,1,1,1,-1,1,1,1,1,1,1
1,-1,-1,-1,1,1,1,-1,1,-1,1,1,-1,-1,1,-1,-1,1,-1,1
2,1,1,-1,1,-1,1,1,-1,-1,-1,1,1,-1,1,1,1,-1,1,1
3,-1,-1,-1,-1,1,1,1,-1,1,-1,1,1,-1,-1,1,-1,1,-1,1
4,1,1,1,-1,-1,-1,1,1,-1,-1,1,-1,-1,-1,-1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,1,-1,1,1,-1,-1,-1,-1,-1,1,1,1,1,1,-1,-1,-1,-1,1
374,1,1,1,1,1,1,1,1,-1,1,1,1,1,1,1,1,1,1,1
375,1,1,-1,1,1,1,1,1,-1,1,1,1,-1,1,1,1,1,1,1
376,-1,1,1,1,1,1,1,1,-1,1,1,1,-1,-1,1,1,1,1,1
377,-1,1,1,1,1,1,-1,-1,-1,1,1,-1,1,1,-1,-1,1,-1,1

3 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,activist,ambulance,avalanche,bonfire,broccoli,businessman,camera,cherry,choir,criminal,...,judge,mayor,mercy,minister,pie,rake,rocket,rose,saw,intercept
0,-1,-1,1,-1,-1,-1,1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,1,-1,-1,1
1,1,1,-1,-1,1,1,1,1,-1,-1,...,-1,-1,1,-1,1,1,1,1,-1,1
2,1,1,-1,-1,-1,-1,-1,1,-1,-1,...,1,-1,-1,1,-1,1,-1,1,1,1
3,1,1,-1,1,-1,1,1,-1,1,1,...,1,1,-1,-1,-1,-1,1,-1,-1,1
4,-1,1,1,-1,-1,1,-1,-1,-1,1,...,-1,1,-1,1,-1,1,-1,-1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,1,1,1,1,1,1,1,1,1,1,...,1,1,-1,1,1,1,1,1,-1,1
407,-1,-1,1,-1,1,-1,-1,-1,-1,1,...,-1,-1,1,-1,1,-1,1,-1,-1,1
408,1,1,1,1,1,-1,-1,1,1,1,...,1,1,-1,1,-1,1,1,-1,-1,1
409,1,1,-1,-1,1,-1,1,-1,1,1,...,1,1,-1,1,-1,-1,-1,-1,-1,1
410,-1,1,1,-1,-1,1,-1,1,1,1,...,1,1,1,1,-1,-1,1,-1,1,1

4 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,accordion,apology,apricot,bay,beer,cathedral,cheetah,college,corkscrew,dandelion,...,patent,pea,red,riot,shoulder,soccer,torment,wanted,zoo,intercept
0,1,-1,-1,-1,1,-1,-1,-1,-1,1,...,1,-1,1,1,1,1,1,1,1,1
1,1,-1,1,1,-1,1,-1,-1,-1,1,...,1,1,-1,1,1,-1,1,-1,-1,1
2,1,1,-1,-1,-1,-1,1,1,-1,1,...,-1,-1,-1,1,1,1,1,-1,1,1
3,1,-1,-1,1,-1,1,1,1,-1,1,...,1,1,1,-1,1,-1,-1,-1,-1,1
4,1,-1,1,1,1,1,1,1,1,1,...,1,-1,-1,1,1,1,-1,-1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,1,1,-1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,-1,1,-1,1
365,1,1,1,1,1,-1,1,-1,1,1,...,1,-1,-1,1,-1,-1,1,1,1,1
366,-1,1,-1,1,-1,-1,1,-1,-1,-1,...,1,-1,-1,-1,1,1,1,-1,1,1
367,1,-1,1,-1,-1,-1,1,-1,1,1,...,1,-1,1,1,1,1,1,1,1,1
368,1,1,1,-1,-1,-1,-1,-1,-1,1,...,-1,-1,-1,-1,-1,1,-1,1,-1,1

5 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,damaged,airport,analogy,arm,attribute,audience,bus,chestnut,court,egg,festival,foot,mountain,stone,truck,used,yellow,intercept
0,1,1,1,1,1,-1,1,1,1,-1,1,-1,1,1,1,-1,1,1
1,1,1,-1,-1,-1,-1,1,-1,-1,-1,1,-1,1,-1,-1,1,-1,1
2,1,-1,-1,-1,-1,-1,-1,-1,1,1,-1,-1,-1,-1,1,1,-1,1
3,-1,-1,-1,-1,-1,-1,1,1,1,1,-1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,-1,-1,1,-1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,-1,-1,1,-1,1,-1,1,1,1,1,-1,-1,1,1,-1,1,-1,1
354,-1,1,-1,-1,-1,1,1,-1,1,-1,1,1,1,-1,1,1,-1,1
355,1,-1,-1,-1,-1,1,1,1,-1,1,-1,-1,-1,1,1,1,-1,1
356,-1,1,-1,1,1,-1,-1,-1,-1,-1,1,1,1,-1,-1,1,-1,1
357,-1,1,-1,-1,1,1,1,1,1,1,1,-1,1,1,1,-1,1,1

6 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,alligator,army,bagpipe,banana,bar,bed,blueberry,bribe,butterfly,carnival,...,soft,spaghetti,spatula,spiritual,testimony,trial,tulip,umbrella,wit,intercept
0,1,1,1,-1,1,-1,1,-1,1,-1,...,1,-1,1,1,-1,-1,1,-1,1,1
1,1,1,-1,-1,-1,1,-1,-1,1,-1,...,-1,1,1,1,-1,1,-1,1,-1,1
2,1,1,1,1,-1,1,-1,-1,-1,1,...,-1,1,1,1,1,1,-1,1,-1,1
3,1,-1,1,-1,1,-1,-1,-1,-1,1,...,1,-1,-1,-1,1,-1,-1,-1,1,1
4,1,1,1,-1,-1,1,1,1,1,1,...,-1,-1,1,1,-1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,-1,-1,-1,-1,1,-1,1,-1,1,...,1,1,-1,1,-1,1,1,1,-1,1
391,1,1,1,-1,1,-1,-1,-1,-1,-1,...,-1,1,1,1,-1,1,1,-1,1,1
392,1,1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,1,-1,-1,1,-1,1,-1,1
393,-1,1,-1,-1,-1,-1,-1,-1,-1,1,...,1,-1,-1,1,-1,1,1,-1,1,1
394,1,-1,-1,1,1,-1,-1,-1,1,1,...,-1,-1,-1,1,1,1,-1,-1,-1,1

7 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,accident,advice,animosity,ant,apartment,artist,author,baseball,big,bird,...,sympathy,table,tea,terrorist,ticket,trombone,trust,van,whale,intercept
0,1,1,-1,1,1,1,1,1,1,1,...,1,-1,-1,1,1,1,-1,1,1,1
1,1,-1,-1,1,1,1,-1,-1,1,1,...,-1,-1,1,1,1,1,-1,-1,1,1
2,1,1,-1,-1,-1,1,-1,1,-1,-1,...,1,-1,-1,1,1,-1,-1,-1,1,1
3,1,1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,1,1,1,-1,-1,-1,1,-1,1
4,1,1,1,1,-1,-1,-1,1,1,1,...,1,1,-1,1,-1,1,-1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,1,-1,1,-1,-1,1,1,1,-1,1,...,-1,-1,-1,1,-1,1,-1,-1,-1,1
362,1,1,1,-1,1,1,1,1,-1,1,...,-1,-1,1,1,-1,-1,1,-1,1,1
363,1,1,1,1,-1,-1,1,1,-1,1,...,1,-1,-1,1,1,-1,1,1,1,1
364,1,1,-1,1,-1,1,1,1,-1,1,...,1,-1,1,1,-1,1,1,-1,1,1
365,-1,-1,1,-1,-1,-1,1,-1,-1,-1,...,-1,1,1,-1,-1,-1,-1,1,-1,1

8 Anxiety_F2

C:\Users\ah140\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,actor,agreement,asparagus,axe,ball,battle,belch,child,company,debate,...,fallacy,flood,gratitude,ivy,lightning,loan,penguin,rum,storm,intercept
0,-1,-1,-1,1,1,1,1,-1,-1,1,...,-1,1,-1,-1,-1,1,-1,1,-1,1
1,1,-1,-1,-1,1,1,1,-1,1,1,...,-1,1,1,1,1,-1,1,-1,-1,1
2,1,-1,-1,1,1,1,-1,-1,1,-1,...,1,-1,-1,1,1,1,-1,1,1,1
3,1,-1,-1,1,1,1,1,1,1,-1,...,1,-1,-1,1,1,1,1,1,1,1
4,1,-1,1,-1,1,1,1,-1,1,1,...,1,1,-1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,1,1,-1,-1,-1,1,1,1,-1,-1,...,1,1,-1,1,1,1,1,-1,-1,1
371,1,-1,-1,1,1,1,1,-1,-1,-1,...,1,-1,1,1,1,-1,1,-1,-1,1
372,1,-1,1,1,1,1,-1,1,1,-1,...,-1,-1,1,1,-1,-1,1,-1,-1,1
373,1,-1,1,1,-1,-1,1,-1,-1,-1,...,-1,1,-1,-1,1,1,-1,1,1,1
374,1,1,-1,1,-1,-1,1,1,1,1,...,-1,-1,-1,-1,1,-1,1,1,1,1

In [9]:
for vif in vif_list:
    display(vif)

     variable  group      target       VIF
0      helped      1  Depression  1.066522
1   advantage      1  Depression  1.059695
2    applause      1  Depression  1.106877
3         awe      1  Depression  1.098977
4       banjo      1  Depression  1.054049
5      banker      1  Depression  1.065794
6      circus      1  Depression  1.081845
7      feared      1  Depression  1.068171
8        hope      1  Depression  1.090823
9    mushroom      1  Depression  1.048068
10      piano      1  Depression  1.052665
11       snub      1  Depression  1.074854
12    thunder      1  Depression  1.047373
13      truce      1  Depression  1.071109
14  intercept      1  Depression  1.690081

     variable  group      target       VIF
0  aggressive      2  Depression  1.052056
1       angry      2  Depression  1.136161
2    barbecue      2  Depression  1.025860
3        bell      2  Depression  1.042407
4      church      2  Depression  1.025409
5        dead      2  Depression  1.087433
6    football      2  Depression  1.066900
7       guard      2  Depression  1.032392
8    jealousy      2  Depression  1.131026
9   intercept      2  Depression  1.580071

       variable  group      target       VIF
0      activist      3  Depression  1.020469
1     ambulance      3  Depression  1.073071
2     avalanche      3  Depression  1.052519
3   businessman      3  Depression  1.039029
4      friendly      3  Depression  1.091463
5         green      3  Depression  1.020578
6     grievance      3  Depression  1.033966
7         mayor      3  Depression  1.140345
8     policeman      3  Depression  1.091006
9      vacation      3  Depression  1.029379
10    intercept      3  Depression  1.863244

    variable  group      target       VIF
0  accordion      4  Depression  1.013043
1    apology      4  Depression  1.027158
2    apricot      4  Depression  1.013679
3      empty      4  Depression  1.019396
4    matinee      4  Depression  1.028931
5    reality      4  Depression  1.013004
6     wanted      4  Depression  1.013351
7        zoo      4  Depression  1.023761
8  intercept      4  Depression  1.345302

     variable  group      target       VIF
0     damaged      5  Depression  1.048699
1     airport      5  Depression  1.062767
2     analogy      5  Depression  1.055394
3         arm      5  Depression  1.091252
4   attribute      5  Depression  1.029467
5    audience      5  Depression  1.064624
6         car      5  Depression  1.037158
7    computer      5  Depression  1.047809
8         eye      5  Depression  1.048679
9        foot      5  Depression  1.119853
10   infinity      5  Depression  1.057422
11    prairie      5  Depression  1.046865
12       role      5  Depression  1.077070
13  intercept      5  Depression  1.420468

     variable  group      target       VIF
0   alligator      6  Depression  1.181092
1        army      6  Depression  1.129168
2     bagpipe      6  Depression  1.178845
3      banana      6  Depression  1.111209
4         bar      6  Depression  1.057414
5   commander      6  Depression  1.089202
6        crow      6  Depression  1.150414
7      denial      6  Depression  1.077150
8        drum      6  Depression  1.089161
9      island      6  Depression  1.138838
10       kiss      6  Depression  1.079285
11    kitchen      6  Depression  1.141824
12  knowledge      6  Depression  1.051450
13   legality      6  Depression  1.052717
14    morning      6  Depression  1.071549
15      mouth      6  Depression  1.210474
16       nose      6  Depression  1.086062
17      river      6  Depression  1.094578
18    shelves      6  Depression  1.063773
19  intercept      6  Depression  2.442618

     variable  group      target       VIF
0    accident      7  Depression  1.173764
1      advice      7  Depression  1.047728
2   animosity      7  Depression  1.127792
3         ant      7  Depression  1.063160
4      artist      7  Depression  1.095106
5      author      7  Depression  1.092120
6         big      7  Depression  1.057637
7       black      7  Depression  1.064439
8       bugle      7  Depression  1.059948
9      lonely      7  Depression  1.051650
10       sick      7  Depression  1.093164
11   symphony      7  Depression  1.056140
12  terrorist      7  Depression  1.151744
13  intercept      7  Depression  2.047607

      variable  group      target       VIF
0        actor      8  Depression  1.097525
1    agreement      8  Depression  1.033591
2         ball      8  Depression  1.058757
3       battle      8  Depression  1.100792
4          bee      8  Depression  1.166333
5      company      8  Depression  1.088451
6       debate      8  Depression  1.067991
7         dime      8  Depression  1.051174
8         door      8  Depression  1.098183
9      fallacy      8  Depression  1.091107
10   hairbrush      8  Depression  1.110811
11  journalist      8  Depression  1.090711
12       liked      8  Depression  1.041719
13        loan      8  Depression  1.049530
14   intercept      8  Depression  1.437057

     variable  group   target       VIF
0      helped      1  Anxiety  1.044324
1   advantage      1  Anxiety  1.071239
2    applause      1  Anxiety  1.095075
3     bicycle      1  Anxiety  1.056671
4      cheese      1  Anxiety  1.061253
5       cough      1  Anxiety  1.075276
6      forest      1  Anxiety  1.096539
7         hoe      1  Anxiety  1.038195
8        lake      1  Anxiety  1.074387
9      spring      1  Anxiety  1.023844
10    teacher      1  Anxiety  1.033455
11      tiger      1  Anxiety  1.067504
12    volcano      1  Anxiety  1.064262
13  intercept      1  Anxiety  2.081980

      variable  group   target       VIF
0   aggressive      2  Anxiety  1.097608
1        angry      2  Anxiety  1.144099
2     barbecue      2  Anxiety  1.093936
3         bell      2  Anxiety  1.135090
4          cab      2  Anxiety  1.093126
5      cabbage      2  Anxiety  1.210632
6    cafeteria      2  Anxiety  1.114395
7       carrot      2  Anxiety  1.097400
8        chair      2  Anxiety  1.051574
9       church      2  Anxiety  1.114995
10       clang      2  Anxiety  1.093869
11    clarinet      2  Anxiety  1.130963
12      coffee      2  Anxiety  1.071793
13        dead      2  Anxiety  1.095164
14    eggplant      2  Anxiety  1.131825
15       guilt      2  Anxiety  1.132313
16     screech      2  Anxiety  1.053880
17       shame      2  Anxiety  1.129859
18   intercept      2  Anxiety  2.192257

       variable  group   target       VIF
0      activist      3  Anxiety  1.068144
1     ambulance      3  Anxiety  1.130287
2     avalanche      3  Anxiety  1.162784
3       bonfire      3  Anxiety  1.105708
4      broccoli      3  Anxiety  1.125019
5   businessman      3  Anxiety  1.109576
6        camera      3  Anxiety  1.116474
7        cherry      3  Anxiety  1.135222
8         choir      3  Anxiety  1.119787
9      criminal      3  Anxiety  1.167329
10        dusty      3  Anxiety  1.092508
11     election      3  Anxiety  1.071470
12    escalator      3  Anxiety  1.146353
13     friendly      3  Anxiety  1.121282
14        green      3  Anxiety  1.058725
15        grief      3  Anxiety  1.077675
16    joviality      3  Anxiety  1.077153
17        judge      3  Anxiety  1.081391
18        mayor      3  Anxiety  1.195226
19        mercy      3  Anxiety  1.066309
20     minister      3  Anxiety  1.121353
21          pie      3  Anxiety  1.140314
22         rake      3  Anxiety  1.115902
23       rocket      3  Anxiety  1.066906
24         rose      3  Anxiety  1.156310
25          saw      3  Anxiety  1.069537
26    intercept      3  Anxiety  2.533306

     variable  group   target       VIF
0   accordion      4  Anxiety  1.220777
1     apology      4  Anxiety  1.091349
2     apricot      4  Anxiety  1.164465
3         bay      4  Anxiety  1.143083
4        beer      4  Anxiety  1.133090
5   cathedral      4  Anxiety  1.151927
6     cheetah      4  Anxiety  1.118443
7     college      4  Anxiety  1.103278
8   corkscrew      4  Anxiety  1.240294
9   dandelion      4  Anxiety  1.135781
10  dangerous      4  Anxiety  1.244869
11    embassy      4  Anxiety  1.192668
12     fiddle      4  Anxiety  1.179758
13       fish      4  Anxiety  1.109208
14      flute      4  Anxiety  1.201325
15       gasp      4  Anxiety  1.101565
16      honey      4  Anxiety  1.115206
17     insult      4  Anxiety  1.115978
18        jam      4  Anxiety  1.158473
19        lab      4  Anxiety  1.139301
20    matinee      4  Anxiety  1.085525
21     patent      4  Anxiety  1.145984
22        pea      4  Anxiety  1.232698
23        red      4  Anxiety  1.092593
24       riot      4  Anxiety  1.188063
25   shoulder      4  Anxiety  1.084596
26     soccer      4  Anxiety  1.114820
27    torment      4  Anxiety  1.122698
28     wanted      4  Anxiety  1.074630
29        zoo      4  Anxiety  1.111127
30  intercept      4  Anxiety  1.881084

     variable  group   target       VIF
0     damaged      5  Anxiety  1.116460
1     airport      5  Anxiety  1.092695
2     analogy      5  Anxiety  1.075281
3         arm      5  Anxiety  1.092604
4   attribute      5  Anxiety  1.020545
5    audience      5  Anxiety  1.073276
6         bus      5  Anxiety  1.085957
7    chestnut      5  Anxiety  1.077778
8       court      5  Anxiety  1.056232
9         egg      5  Anxiety  1.090146
10   festival      5  Anxiety  1.085944
11       foot      5  Anxiety  1.118860
12   mountain      5  Anxiety  1.123211
13      stone      5  Anxiety  1.161772
14      truck      5  Anxiety  1.080654
15       used      5  Anxiety  1.075862
16     yellow      5  Anxiety  1.063842
17  intercept      5  Anxiety  1.658116

      variable  group   target       VIF
0    alligator      6  Anxiety  1.410102
1         army      6  Anxiety  1.265758
2      bagpipe      6  Anxiety  1.324495
3       banana      6  Anxiety  1.284755
4          bar      6  Anxiety  1.219205
5          bed      6  Anxiety  1.297448
6    blueberry      6  Anxiety  1.316446
7        bribe      6  Anxiety  1.244821
8    butterfly      6  Anxiety  1.473869
9     carnival      6  Anxiety  1.240352
10        cash      6  Anxiety  1.221679
11        cold      6  Anxiety  1.224488
12   commander      6  Anxiety  1.294893
13        crow      6  Anxiety  1.354385
14      denial      6  Anxiety  1.272869
15         dog      6  Anxiety  1.261535
16    downpour      6  Anxiety  1.267103
17       dread      6  Anxiety  1.316486
18        drum      6  Anxiety  1.213934
19        duck      6  Anxiety  1.473155
20         elm      6  Anxiety  1.321790
21    engineer      6  Anxiety  1.201991
22      family      6  Anxiety  1.229676
23        fate      6  Anxiety  1.276754
24     hamster      6  Anxiety  1.314516
25        hawk      6  Anxiety  1.346429
26      jungle      6  Anxiety  1.298261
27        jury      6  Anxiety  1.284802
28     ketchup      6  Anxiety  1.202350
29        kiss      6  Anxiety  1.205892
30     kitchen      6  Anxiety  1.314116
31   knowledge      6  Anxiety  1.225265
32        long      6  Anxiety  1.219725
33        lust      6  Anxiety  1.258145
34     meeting      6  Anxiety  1.171790
35     morning      6  Anxiety  1.195612
36    mosquito      6  Anxiety  1.385341
37       mouth      6  Anxiety  1.259076
38      number      6  Anxiety  1.215049
39    peaceful      6  Anxiety  1.172583
40  politician      6  Anxiety  1.404231
41      radish      6  Anxiety  1.305161
42       river      6  Anxiety  1.223198
43        soft      6  Anxiety  1.211248
44   spaghetti      6  Anxiety  1.294018
45     spatula      6  Anxiety  1.234442
46   spiritual      6  Anxiety  1.166366
47   testimony      6  Anxiety  1.165446
48       trial      6  Anxiety  1.209537
49       tulip      6  Anxiety  1.278168
50    umbrella      6  Anxiety  1.255941
51         wit      6  Anxiety  1.247555
52   intercept      6  Anxiety  3.133932

     variable  group   target       VIF
0    accident      7  Anxiety  1.320277
1      advice      7  Anxiety  1.218770
2   animosity      7  Anxiety  1.257212
3         ant      7  Anxiety  1.167011
4   apartment      7  Anxiety  1.173952
5      artist      7  Anxiety  1.202343
6      author      7  Anxiety  1.174960
7    baseball      7  Anxiety  1.226933
8         big      7  Anxiety  1.135130
9        bird      7  Anxiety  1.237801
10      black      7  Anxiety  1.181996
11  cellphone      7  Anxiety  1.260876
12      chime      7  Anxiety  1.216269
13  chocolate      7  Anxiety  1.338746
14      cloud      7  Anxiety  1.203954
15     deceit      7  Anxiety  1.270317
16        era      7  Anxiety  1.182404
17  handshake      7  Anxiety  1.173551
18   heredity      7  Anxiety  1.212652
19   lemonade      7  Anxiety  1.301407
20     lonely      7  Anxiety  1.185732
21       love      7  Anxiety  1.226334
22   medicine      7  Anxiety  1.137322
23      night      7  Anxiety  1.137962
24    oration      7  Anxiety  1.151166
25    pumpkin      7  Anxiety  1.174633
26      rumor      7  Anxiety  1.234597
27     satire      7  Anxiety  1.145907
28     school      7  Anxiety  1.185804
29     scream      7  Anxiety  1.269165
30       sick      7  Anxiety  1.275364
31    soldier      7  Anxiety  1.282686
32        sun      7  Anxiety  1.242146
33   sympathy      7  Anxiety  1.219091
34      table      7  Anxiety  1.279073
35        tea      7  Anxiety  1.214389
36  terrorist      7  Anxiety  1.319859
37     ticket      7  Anxiety  1.191792
38   trombone      7  Anxiety  1.237655
39      trust      7  Anxiety  1.171351
40        van      7  Anxiety  1.245979
41      whale      7  Anxiety  1.269752
42  intercept      7  Anxiety  3.193377

     variable  group   target       VIF
0       actor      8  Anxiety  1.109023
1   agreement      8  Anxiety  1.075613
2   asparagus      8  Anxiety  1.105225
3         axe      8  Anxiety  1.116113
4        ball      8  Anxiety  1.107291
5      battle      8  Anxiety  1.106287
6       belch      8  Anxiety  1.113800
7       child      8  Anxiety  1.119096
8     company      8  Anxiety  1.072662
9      debate      8  Anxiety  1.122511
10       door      8  Anxiety  1.092092
11    fallacy      8  Anxiety  1.124128
12      flood      8  Anxiety  1.125208
13  gratitude      8  Anxiety  1.100572
14        ivy      8  Anxiety  1.120300
15  lightning      8  Anxiety  1.120108
16       loan      8  Anxiety  1.061937
17    penguin      8  Anxiety  1.211850
18        rum      8  Anxiety  1.087339
19      storm      8  Anxiety  1.079623
20  intercept      8  Anxiety  1.829713

In [10]:
for vif in vif_list:
    print(vif[['VIF']].max())

VIF    1.690081
dtype: float64
VIF    1.580071
dtype: float64
VIF    1.863244
dtype: float64
VIF    1.345302
dtype: float64
VIF    1.420468
dtype: float64
VIF    2.442618
dtype: float64
VIF    2.047607
dtype: float64
VIF    1.437057
dtype: float64
VIF    2.08198
dtype: float64
VIF    2.192257
dtype: float64
VIF    2.533306
dtype: float64
VIF    1.881084
dtype: float64
VIF    1.658116
dtype: float64
VIF    3.133932
dtype: float64
VIF    3.193377
dtype: float64
VIF    1.829713
dtype: float64

In [11]:
#saving as images
for vif in vif_list:
    group_nr = str(vif.iloc[0,1])
    target = vif.iloc[0,2]
    name = group_nr + target
    filename = 'figures/words_as_predictors/words_as_predictors_vif/' + name + '.png'
    print(filename)
    vif = vif.drop(['group', 'target'], axis=1)
    dfi.export(vif, filename)

figures/words_as_predictors/words_as_predictors_vif/1Depression.svg
figures/words_as_predictors/words_as_predictors_vif/2Depression.svg
figures/words_as_predictors/words_as_predictors_vif/3Depression.svg
figures/words_as_predictors/words_as_predictors_vif/4Depression.svg
figures/words_as_predictors/words_as_predictors_vif/5Depression.svg
figures/words_as_predictors/words_as_predictors_vif/6Depression.svg
figures/words_as_predictors/words_as_predictors_vif/7Depression.svg
figures/words_as_predictors/words_as_predictors_vif/8Depression.svg
figures/words_as_predictors/words_as_predictors_vif/1Anxiety.svg
figures/words_as_predictors/words_as_predictors_vif/2Anxiety.svg
figures/words_as_predictors/words_as_predictors_vif/3Anxiety.svg
figures/words_as_predictors/words_as_predictors_vif/4Anxiety.svg
figures/words_as_predictors/words_as_predictors_vif/5Anxiety.svg
figures/words_as_predictors/words_as_predictors_vif/6Anxiety.svg
figures/words_as_predictors/words_as_predictors_vif/7Anxiety.svg
figures/words_as_predictors/words_as_predictors_vif/8Anxiety.svg